.App {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
}
.App h1 {
    margin-bottom: 30px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    /* width: 40rem; */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem ;
    margin: 15px 0;
    border-radius: 4px;
    padding: 0 0.5rem;
    font-size: 1.2rem;
}
.todoText {
    cursor: pointer;
    font-weight: bold;
}
.completed {
    text-decoration: line-through;
    color: rgb(175, 174, 174);
}
input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 3px;
    outline: none;
    width: 200px;
}
input:focus {
    border: 2px solid blueviolet;
}
.formControl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
    margin-bottom: 20px;
}
.btn {
    color: #6d28d9;
    background-color: #fff;
    border: 1px solid #6d28d9;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
}
.remove {
    border: 1px solid rgb(236, 68, 68);
    margin-left: 10px;
}
.addTodo {
    color: #fff;
    background-color: #6d28d9 ;
}
.updateTodo { 
    color: #6d28d9 ;
    background-color: #cdbce7;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
header span {
    margin-right: 10px;
    display: inline-block;
    width: 20px;
    font-size: 14px;
    height: 20px;
    background-color: #d0c7f7;
    color: #6d28d9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
    font-weight: bold;
}
.select {
    width: 150px;
    margin-left: 2rem;
}

@media only screen and (max-width: 768px) {
    .formControl , .todo{
        width: 15rem;
        
    };
    .navbar {
    }
    
    header span h2 {
     font-size: 12px;
    };
    Select {
        width: 10rem;
    };

}    
